.appflowy-editor {
  @apply h-full overflow-hidden;
  [role="textbox"] {
    @apply flex-1 overflow-auto;
  }

  div[data-slate-node="element"]:not([data-block-type="nested-block"]) {
    @apply py-1 relative whitespace-pre-wrap break-words;
  }

  div[data-slate-node="element"] div[data-slate-placeholder="true"] {
    @apply leading-[2em];
  }


  div[data-slate-node="element"] > div[data-slate-node="element"] {
    padding-left: 1.5em;
  }

  div[data-slate-node="element"] > div[data-slate-node="element"]:first-child {
    padding-left: 0;
  }

  div[data-block-type="heading"][data-level="1"] {
    @apply py-[8px] text-[2rem] max-md:text-[24px] font-semibold;
  }


  div[data-block-type="heading"][data-level="2"] {
    @apply py-[6px] text-[1.75rem] max-md:text-[22px] font-semibold;
  }

  div[data-block-type="heading"][data-level="3"] {
    @apply py-[4px] text-[1.5rem] max-md:text-[20px] font-semibold;
  }

  div[data-block-type="heading"][data-level="4"] {
    @apply py-[4px] text-[1.25rem] max-md:text-[16px] font-semibold;
  }

  div[data-block-type="heading"][data-level="5"] {
    @apply py-[2px] text-[1.125rem] font-semibold;
  }

  div[data-block-type="heading"][data-level="6"] {
    @apply py-[2px] text-[1rem] font-semibold;
  }


  div[data-block-type="todo_list"][data-checked="true"] {
    text-decoration: line-through;
    color: hsl(var(--muted-foreground));

    .text-color span {
      color: hsl(var(--muted-foreground));
    }

  }
}


@keyframes dots-loading {
  20% {
    background-position: 0% 0%, 50% 50%, 100% 50%;
  }
  40% {
    background-position: 0% 100%, 50% 0%, 100% 50%;
  }
  60% {
    background-position: 0% 50%, 50% 100%, 100% 0%;
  }
  80% {
    background-position: 0% 50%, 50% 50%, 100% 100%;
  }
}

.appflowy-editor {
  table {
    &.row-header-hl {
      tbody > tr:first-child {
        td [data-slate-node="text"] {
          @apply font-semibold;
        }
        td {
          @apply bg-muted;
        }
      }
    }

    tr {
      vertical-align: top;
    }

    tr td:first-child {
      @apply border-l border-t border-border;
    }

    tr:first-child > td {
      @apply border-t border-border;
    }

    td {
      @apply border-r p-2 border-b border-border whitespace-pre-wrap break-words;
    }
  }
}


@mixin scrollbar-style {
  ::-webkit-scrollbar, &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  &:hover {

    &::-webkit-scrollbar-thumb, & *::-webkit-scrollbar-thumb {
      border-radius: 4px;
      background-color: var(--scrollbar-thumb);
    }
  }
}

.appflowy-scrollbar {
  @include scrollbar-style;
}